# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Django specific
db.sqlite3
db.sqlite3-journal
*.pot
local_settings.py

# Django migrations
**/migrations/

# Environment variables
.env

# Node modules (for Tailwind or any other Node-based dependencies)
node_modules/

# Tailwind CSS specific
tailwind.config.js
postcss.config.js
**/*.cache
*.css.map
*.js.map

# Static and media files
/static/
/media/
/staticfiles/
/mediafiles/

# Compiled files
*.mo

# Packaging
*.egg
*.egg-info/
dist/
build/
*.whl

# Logs and runtime files
*.log
*.out
*.pid

# IDE and editor files
.idea/
.vscode/
*.swp
*~

# Python dependencies
.venv/
env/
venv/
ENV/

# Docker-related files
*.env.docker
*.override.yml
docker-compose.override.yml

# Testing and coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Deployment-specific
*.pem
*.key
.secret/

# Azure specific
*.azure
*.azure-pipelines.yml

# Celery
celerybeat-schedule
celerybeat.pid

# Jupyter Notebook
.ipynb_checkpoints

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Cython debug symbols
cython_debug/
